<div class="sidebar">
  <img src ="assets/mainLogo.svg" width = "200" height = "100">
  <img src="assets/board.svg" width="50" height="50"><a routerLink="/">Board</a>
  <img src="assets/circle.svg" width="50" height="50"><a routerLink="/socratic">Socratic Circle</a>
  <img src="assets/friends.svg" width="50" height="50"><a routerLink="/friends">Friends</a>
  <img src="assets/inbox.svg" width="50" height="50"><a routerLink="/messages">Messages</a>
  <img src="assets/newPost.svg" width="40" height="40"><a routerLink="/messages">Post</a>

</div>

  