.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #464343;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
  } 


.sidebar img, .sidebar svg {
    margin-right: 10px; /* Adjust spacing as needed */
  }

  .sidebar a:hover {
    color: #f1f1f1;
  }

  h1 {
    color: #f1f1f1
  }

  .active-link {
    font-weight: bold;
    color: #c81717; /* Example: Google Blue for the active link color */
    background-color: #d94b4b; /* Light blue background */
    border-left: 4px solid #de1313; /* A solid left border for emphasis */
  }
  
  